.container {
    display: inline-block;
    padding: 60px;
    position: relative;

}

.tarjeta__img {
    width: 140px;
    height: 120px;
    display: inline-block;
}

.tarjeta__h2 {
    display: inline-block;
    color: black;
}

.tarjeta__h2,
.tarjeta__p {
    display: inline-block;

}

.tarjeta__p {
    display: inline-block;
}

.tarjeta {
    background-color: rgb(151, 250, 1);
    width: 300px;
    height: 150px;
    display: inline-block;
    margin-right: 90px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tarjeta__information {
    display: inline-block;
}

@media (max-width: 768px) {

  
  .tarjeta {
    display: block;         
    width: 90%;            
    margin: 20px auto;      
    height: auto;          
  }

  
  .tarjeta__img {
    display: block;         
    width: 100%;            
    height: auto;           
    margin: 0 auto 10px;    
  }


  .tarjeta__h2,
  .tarjeta__p {
    display: block;
    text-align: center;     
  }

  .tarjeta__h2 {
    font-size: 1.3rem;    
  }

  .tarjeta__p {
    font-size: 1rem;
    padding: 0 10px;
  }
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.formulario {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 70%;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Campos generales */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
   color: black;
}

.form__input {
  display: inline-block;
  width: 45%;            /* Dos columnas en escritorio */
  padding: 10px;
  margin: 10px 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.form__input {
  width: 94%;            
  height: 80px;
}

.form__btn {
  display: block;
  width: 200px;
  margin: 20px auto 0;
  padding: 10px;
  background-color: rgb(151, 250, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}


@media (min-width: 993px) {
  .formulario {
    width: 60%;
  }
}


@media (max-width: 992px) and (min-width: 769px) {
  .formulario {
    width: 80%;
  }

  .form__input {
    width: 90%;          
    display: block;
    margin: 10px auto;
  }

  textarea.form__input {
    width: 90%;
  }
}


@media (max-width: 768px) {
  .formulario {
    width: 90%;
    padding: 20px;
  }

  .form__input {
    width: 100%;          
    display: block;
    margin: 10px 0;
  }

  textarea.form__input {
    width: 100%;
  }

  .form__btn {
    width: 100%;
  }
}
